body {
  display: flex;
  justify-content: center;
  background-color: cornflowerblue;
  align-content: center;
}

img {
  padding: 15px;
  height: 250px;
  width: 270px;
  object-fit: cover;
  object-position: center;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card {
  height: 450px;
  width: 300px;
  border-radius: 10px;
  background-color: white;
}

.card2 {
  height: 450px;
  width: 300px;
  border-radius: 10px;
  background-color: white;
}

h2 {
  margin-left: 60px;
  font-size: 25px;
}

h3 {
  margin-left: 100px;
  font-size: 22px;
  color: red;
}

.h2 {
  margin-left: 60px;
  font-size: 25px;
}

.h3 {
  margin-left: 100px;
  font-size: 22px;
  color: red;
}

#btn1 {
  padding: 10px;
  margin-left: 50px;
  background-color: rgb(206, 201, 201);
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#btn2 {
  padding: 10px;
  margin-left: 40px;
  background-color: rgb(206, 201, 201);
  color: black;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#btn3 {
  padding: 10px;
  margin-left: 50px;
  background-color: rgb(206, 201, 201);
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#btn4 {
  padding: 10px;
  margin-left: 40px;
  background-color: rgb(206, 201, 201);
  color: black;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.row {
  display: grid;
  grid-template-columns: 300px 300px;
  column-gap: 30px;

}